@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}
.cart-badge {
  @apply absolute font-bold text-orange-600 ml-8 mt-0 text-center w-4;
}